<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="server=windows-10;user id=pets;password=letmein" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>